.body-details {
    display: flex;
    height: 100vh;
    /* background-color: #cff4fc; */
}

.detail{
    padding: 2%;
}

.card-header{
    font-weight: bolder;
}

.delete{
    border-width: thin;
    border-color: bisque;
    border-radius: 8px;
}